@import url("header.css");
@import url("main.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
